.container {
    height: 100vh;
    background-image: url('../../../img/lava-abstract-formation-8k-2560x1600.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    // background: linear-gradient(to right, rgb(255, 198, 0), #e8482e, #9c209d);
    backdrop-filter: blur(50px);
}

.header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    background-color: #151516;
    // z-index: 3;

}

.leftSide {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.roomName {
    padding-top: 4px;
    font-size: 21px;
    font-weight: 700;
    color: rgb(218, 216, 216);
    margin: 0;
    letter-spacing: .4px;
}

.roomDesc {
    margin: 0;
    padding-top: 6px;
    color: rgb(139, 133, 133);
}

.rightSide {
    display: flex;
    align-items: center;
    gap: 20px;
}

.inviteBtn {
    color: #FFF;
    font-weight: 600;
    background: #147ce5;
    border: none;
}

.inviteBtn:hover {
    background: rgb(52, 147, 243);
    color: #FFF !important;
}


.content {
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.messageList {
    max-height: 100%;
    overflow-y: auto;
}

.msgForm {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: transparent;
    background-color: rgb(0, 0, 0, .4);
}

.inputMsg {
    outline: none;
    padding: 14px 20px;
    width: 100%;
    outline: none;
    // border: 1px solid rgba(179, 175, 175, .7);
    border: none;
    font-size: 18px;
    border-radius: 8px;
    background-color: #1d1d1f;
    color: #ccc;

}

.inputMsg::placeholder {
    color: rgb(159, 152, 152);
}

.btnSend {
    margin-left: 20px;
    padding: 13px 22px;
    background-color: #147ce5;
    color: #FFF;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
}

.btnSend:hover {
    background: rgb(52, 147, 243);
}

.menuBtn {
    background: transparent;
    border: none;
    color: #ccc;
    display: none;
}


@media (max-width: 1023px) {
    .header {
        padding: 0 20px;
    }

    .roomName {
        font-size: 19px;
    }

    .roomDesc {
        font-size: 12px;
    }
    .msgForm {
        padding: 15px 20px;
    }

    .inputMsg {
        font-size: 14px;
    }

    .btnSend {
        padding: 13px 18px;
    }


    .rightSide {
        gap: 15px;
    }
}

@media (max-width: 768px) {
    .rightSide {
        gap: 15px;
    }

    .inviteBtn {
        padding: 5px;
        font-size: 12px;
    }

    .leftSide {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .roomName {
        padding: 0;
    }

    .roomDesc {
        display: none;
    }

    .menuBtn {
        display: block;
        margin-right: 5px;
        margin-left: -10px;
    }
    .msgForm {
        padding: 8px 20px;
    }

    .inputMsg {
        font-size: 14px;
        // padding: 15px 10px;
    }

    .btnSend {
        padding: 10px 15px;
    }
}