.container,
.container2 {
    padding: 30px 20px;
    position: relative;

}

.container {
    display: flex;
    align-items: flex-end;
}

.container2 {
    display: flex;
    justify-content: end;
    flex-direction: row-reverse;
    align-items: flex-end;

    .text {
        border: none;
        background-color: #606060;
    }
}

.ava {
    margin-right: 10px;
    margin-left: 10px;
}

.name {
    font-size: 10px;
    margin-left: 50px;
    margin-right: 50px;

    position: absolute;
    top: 6px;
    color: #ccc;
    font-weight: 600;
    padding: 0 4px;
}


.text {
    font-size: 14px;
    padding: 4px 10px;
    color: #FFF;
    background-color: #000;
    border-radius: 15px;
    border: .2px solid rgb(147, 147, 147);
    max-width: 300px;
    display: inline-block;
}

.time {
    color: rgb(126, 125, 125);
    padding: 0 10px;
}