.wrap {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    backdrop-filter: blur(50px);
    background-color: #c76686;
    background-image: radial-gradient(at 65% 0%, #714f92 0px, transparent 50%), radial-gradient(at 0% 65%, rgba(86, 36, 143, 0.64) 0px, transparent 50%), radial-gradient(at 0% 37%, rgba(86, 36, 143, 0.66) 0px, transparent 50%), radial-gradient(at 0% 2%, #57248f 0px, transparent 50%), radial-gradient(at 100% 5%, #714f92 0px, transparent 50%), radial-gradient(at 0% 100%, #56248f 0px, transparent 50%);
}

.leffSide {
    display: flex;
    align-items: center;
}

.userNameText {
    padding: 0 8px;
    font-weight: 600;
    color: #FFF;
}

.logoutBtn {
    padding: 8px 12px;
    color: #FFF;
    font-weight: 600;
    outline: none;
    border: none;
    border-radius: 6px;
    background-color: #147ce5;
    cursor: pointer;
}

.logoutBtn:hover {
    background: rgb(52, 147, 243);

}