.sidebarWrap {
    // position: fixed;
    background-color: #151516;
    height: 100vh;
    // display: flex;
    justify-content: center;
    align-items: flex-start;
}

.copyRight {
    color: rgb(67, 64, 64);
    position: fixed;
    bottom: 10px;
    margin: 0 auto;
    font-size: 10px;
    text-align: center;
    display: none;
}